In [58]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder

In [40]:
orginal = pd.read_csv(r'C:\Users\Nikhil\Desktop\Data Science\income\income(1).csv', na_values=" ?")
df = orginal.copy()
df = df.dropna(axis=0)
df1 = pd.get_dummies(df)
df.corr()

                   age  capitalgain  capitalloss  hoursperweek
age           1.000000     0.080154     0.060165      0.101599
capitalgain   0.080154     1.000000    -0.032229      0.080432
capitalloss   0.060165    -0.032229     1.000000      0.052417
hoursperweek  0.101599     0.080432     0.052417      1.000000

In [41]:
df['SalStat'].value_counts()

 less than or equal to 50,000    22654
 greater than 50,000              7508
Name: SalStat, dtype: int64

In [42]:
df['SalStat'] = df['SalStat'].map({' less than or equal to 50,000':0, ' greater than 50,000':1})
df['SalStat'].value_counts()

0    22654
1     7508
Name: SalStat, dtype: int64

In [43]:
column_list = set(list(df.columns))
column_list

{'EdType',
 'JobType',
 'SalStat',
 'age',
 'capitalgain',
 'capitalloss',
 'gender',
 'hoursperweek',
 'maritalstatus',
 'nativecountry',
 'occupation',
 'race',
 'relationship'}

In [44]:
features = list(column_list - set(["SalStat"]))

In [45]:
new_df = df[features]
new_df = pd.get_dummies(new_df)

In [46]:
y = df['SalStat'].values

In [47]:
x = new_df.values

In [48]:
train_x, test_x, train_y, test_y = train_test_split(x,y,test_size=0.2,random_state=0)

In [49]:
logistic = LogisticRegression(max_iter=10000)

In [50]:
logistic.fit(train_x, train_y)

LogisticRegression(max_iter=10000)

In [51]:
predict = logistic.predict(test_x)

In [52]:
confustion = confusion_matrix(test_y, predict)
confustion

array([[4201,  329],
       [ 632,  871]], dtype=int64)

In [53]:
print(classification_report(test_y, predict))

              precision    recall  f1-score   support

           0       0.87      0.93      0.90      4530
           1       0.73      0.58      0.64      1503

    accuracy                           0.84      6033
   macro avg       0.80      0.75      0.77      6033
weighted avg       0.83      0.84      0.83      6033

In [54]:
tree = DecisionTreeClassifier(random_state=0)
tree.fit(train_x, train_y)

DecisionTreeClassifier(random_state=0)

In [55]:
y_predicted = tree.predict(test_x)

In [56]:
print(classification_report(test_y, y_predicted))

              precision    recall  f1-score   support

           0       0.87      0.88      0.88      4530
           1       0.63      0.61      0.62      1503

    accuracy                           0.81      6033
   macro avg       0.75      0.75      0.75      6033
weighted avg       0.81      0.81      0.81      6033

In [57]:
new_df

,capitalloss,capitalgain,age,hoursperweek,relationship_ Husband,relationship_ Not-in-family,relationship_ Other-relative,relationship_ Own-child,relationship_ Unmarried,relationship_ Wife,...,occupation_ Prof-specialty,occupation_ Protective-serv,occupation_ Sales,occupation_ Tech-support,occupation_ Transport-moving,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White
0,0,0,45,28,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,24,40,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,44,40,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
3,0,0,27,40,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,20,35,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31973,0,594,34,60,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
31974,0,0,34,40,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
31975,0,0,23,40,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
31976,0,0,42,40,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
31977,0,0,29,40,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1